.order-summary {
    margin-bottom: 20px;
  }
  
  .order-summary ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-summary li {
    margin-bottom: 10px;
  }
  
  .order-summary h3 {
    margin-top: 20px;
  }
  
  .order-summary h3:last-child {
    margin-top: 0;
  }
  